.modal.fade .modal-dialog {
  transform: translate(0, -50%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translate(0, 0);
  opacity: 1;
}

/* Adjust the modal-backdrop transition */
.modal-backdrop.fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-backdrop.fade.show {
  opacity: 0.5;
}
