
.custom-button {
    background-color: #352f44 !important;
    border-color: #352f44 !important;
    color: white !important; 
}
.custom-dropdown-menu {
    background-color: #B9B4c7 !important;
}
.custom-button:hover, .custom-button:active, .custom-button:visited {
    background-color: #352f44 !important;
    border-color: #352f44 !important;
    color: white !important; 
}
